.hoje{
    color: darkgreen;

}

.amanha{
    color:darkblue;
}

a {
    text-decoration: none;
}

h2 a{
    color: royalblue
}

p{
    font-size: 20px;
}

body {
    font-family: Arial, sans-serif;
}

p {
    margin-bottom: 10px;
}

h1, h2 {
    text-align: center;
}

body {
    background-color: #f4f4f4;
}

a:hover {
    color: red;
    text-decoration: underline;
}

h1 {
    background-color: lightblue; 
    padding: 10px;               
    border-radius: 5px;          
}

